/* =========Модальное Окно============ */

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal {
    background-color: $primary-bg-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media (min-width: $mobile) and (min-width: $tablet) and (max-width: 1100px) {
      min-width: 450px;
      min-height: 609px;
      padding: 2px;
    }
    @media (min-width: $desktop) {
      min-width: 528px;
      min-height: 581px;
    }
  }
  .form-modal {
    /* outline: 2px solid greenyellow; */
    @media (min-width: $mobile) and (max-width: 1100px) {
      width: 450px;
    }
    @media (min-width: $desktop) {
      width: 528px;
    }
    margin: 0px auto;
    padding: 40px;
    background-color: $primary-bg-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  .button-modal-close {
    /* outline: 2px solid orchid; */
    position: absolute;
    padding: 5px 4px;
    width: 30px;
    height: 30px;
    right: 8px;
    top: 8px;
    background-color: $primary-bg-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }
  .icon-close-black-18dp {
    margin: auto;
    padding: 0px;
    fill: black;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* transition-timing-function: linear; */
    &:hover,
    &:focus,
    &:active {
      fill: $acent-logo-color;
    }
  }
  .form-modal-title {
    width: 100%x;
    margin: 0px;
    padding: 0px;
    padding-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-text-color;
  }

  .form-modal-field {
    /* outline: 2px solid orchid; */
    width: 100%;
    margin: auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
  }
  .form-modal-field-contacts {
    @extend .form-modal-field-comments;
    &:hover,
    &:focus,
    &:active {
      .icon-person-black-18dp,
      .icon-phone-black-18dp,
      .icon-email-black-18dp {
        fill: $acent-logo-color;
      }
    }
  }
  .form-modal-field-comments {
    /* outline: 2px solid greenyellow; */
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    position: relative;
  }
  .form-modal-field-contacts label,
  .form-modal-field-comments label {
    padding: 8px 0px;
    margin: 0px 0px 4px;
    font-size: 12px;
    line-height: 1.1667px;
    letter-spacing: 0.01em;
    color: $second-text-color;
  }
  .form-modal-field-contacts input {
    /* outline: 2px solid orchid; */
    width: 100%;
    height: 40px;
    padding: 0px;
    padding-left: 42px;
    margin: 0px;
    margin-bottom: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* transition-timing-function: linear; */
    &:hover,
    &:focus,
    &:active {
      border: 1px solid $acent-logo-color;
    }
  }

  .form-modal-field-comments textarea {
    /* outline: 2px solid orchid; */
    width: 100%;
    height: 40px;
    padding: 0px;
    padding-left: 42px;
    margin: 0px;
    margin-bottom: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* transition-timing-function: linear; */
  }
  .form-modal-field-comments textarea {
    width: 100%;
    height: 120px;
    resize: none;
    padding-top: 16px;
    padding-left: 16px;
    &:hover,
    &:focus,
    &:active {
      border: 1px solid $acent-logo-color;
    }
  }
  .form-modal-field-contacts input::placeholder,
  .form-modal-field-comments textarea::placeholder {
    font-size: 14px;
    line-height: 1.1429;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  .icon-person-black-18dp,
  .icon-phone-black-18dp,
  .icon-email-black-18dp {
    position: absolute;
    top: 32px;
    left: 15px;
    display: inline-block;
    margin-right: 14px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* transition-timing-function: linear; */
  }

  .form-modal-button {
    /* outline: 2px solid orchid; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 10px 56px;
    margin: auto;
    border-color: $acent-logo-color;
    background-color: $acent-logo-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: $add-text-color;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $add-text-color;
      background-color: $button-acent-bg-color;
      font-family: $primary-text-color;
    }
  }

  .form-modal-policy {
    /* outline: 2px solid orchid; */
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 15px;
    text-align: center;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $second-text-color;
    position: relative;
    .link {
      color: $acent-logo-color;
      text-decoration: underline;
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      /* transition-timing-function: linear; */
      &:hover,
      &:focus,
      &:active {
        color: $acent-logo-color;
      }
    }
  }

  .form-checkbox {
    position: absolute;
    visibility: hidden;
  }

  .form-checkbox-label::before {
    content: " ";
    width: 16px;
    height: 15px;
    border: 1px solid black;
    border-radius: 2px;
    position: absolute;
    left: 3px;
    top: 15px;
  }

  .form-checkbox:checked + .form-checkbox-label::before {
    /* background-color: aqua; */
    border: none;
    background-image: url(../images/icon-check.svg);
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  .modal {
    transform: translate(-50%, -50%) scale(0.8);
  }
}

.form-modal-input {
  background-color: $primary-bg-color;
  &:focus,
  &:hover,
  &:active {
    color: $second-text-color;
    outline: none;
    padding-left: 42px;
  }
}
