.site-header {
  position: relative;
  padding: 0px;
  margin: 0px auto;
  .header-menu-button,
  .header-menu {
    @media (min-width: $tablet) {
      display: none;
    }
  }
}

.header-menu-button {
  @media (min-width: $mobileS) and (max-width: 767px) {
    position: relative;
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    background-color: $primary-bg-color;
    fill: black;
    .icon-menu-blue {
      display: block;
      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus,
      &:active {
        fill: $acent-logo-color;
      }
    }
    .icon-close-black-18dp {
      display: none;
      position: absolute;
      top: 0px;
      left: 0px;
      margin: 5px;
      padding: 4px;
      width: 30px;
      height: 30px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus,
      &:active {
        fill: $acent-logo-color;
      }
    }
  }
}

.header-menu-button.is-open .icon-menu-blue {
  display: none;
}
.header-menu-button.is-open .icon-close-black-18dp {
  display: block;
}

.header-menu {
  @media (min-width: $mobileS) and (max-width: 767px) {
    display: none;
    padding: 40px;
    // outline: 2px solid orchid;
    margin: -2px 0px;
    background-color: $primary-bg-color;
    width: 100%;
    height: auto;
    border: 4px solid rgba(236, 236, 236, 1);
    position: absolute;
    top: 100%;
    left: 0px;

    &.is-open {
      display: block;
    }
    .header-menu-list {
      // outline: 2px solid orchid;
      margin: 60px auto;
      padding: 0px;
      list-style: none;
      width: 100px;
      height: 155px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .item {
        position: relative;
        list-style: none;
        padding: 0px;
        margin: 0px;
        margin-bottom: 40px;
        .current {
          color: $acent-logo-color;
          &::after {
            /* outline: 2px solid orchid; */
            display: flex;
            justify-content: space-between;
            content: "";
            padding: 0px;
            margin: 0 auto;
            position: absolute;
            bottom: -12px;
            left: 0px;
            width: 62px;
            height: 4px;
            background-color: $acent-logo-color;
            border-radius: 2px;
          }
        }
        .current-p {
          color: $acent-logo-color;

          &::after {
            display: flex;
            justify-content: space-between;
            content: "";
            padding: 0px;
            margin: 0px auto;
            position: absolute;
            bottom: -12px;
            left: 0px;
            width: 88px;
            height: 4px;
            background-color: $acent-logo-color;
            border-radius: 2px;
          }
        }
      }
    }
    .header-menu-list a {
      color: $primary-text-color;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus,
      &:active {
        color: $acent-logo-color;
      }
    }
    .header-menu-cont {
      list-style: none;
      font-style: normal;
      padding: 0px;
      margin: 20px auto 60px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .item a {
        color: $second-text-color;
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.71;
        letter-spacing: 0.02em;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus,
        &:active {
          color: $acent-logo-color;

          .icon-mail,
          .icon-mail {
            fill: $acent-logo-color;
          }

          .icon-tel,
          .icon-tel {
            fill: $acent-logo-color;
          }
        }
      }

      .icon-mail {
        padding: 0px;
        margin: auto;
        margin-right: 10px;
        fill: $second-text-color;
        border-radius: 1px;
      }

      .icon-tel {
        padding: 0px;
        margin: auto;
        margin-right: 8px;
        fill: $second-text-color;
        border-radius: 2px;
      }
    }
  }
}

.site-nav {
  /* outline: 2px solid orchid; */
  display: flex;
  .site-nav-list {
    position: relative;
    list-style: none;
    padding: 0;
    /* outline: 2px solid orchid; */
    display: flex;
    justify-content: space-between;
    margin: 32px 0px 0px 93px;
    width: 294px;
    @media (min-width: $mobileS) and (max-width: 767px) {
      display: none;
    }
    @media (max-width: $tablet) {
      margin: 32px 0px 0px 88px;
    }
  }

  .site-nav-list a {
    color: $primary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus,
    &:active {
      color: $acent-logo-color;
    }
  }

  .item {
    position: relative;
    list-style: none;
    padding: 0px;
    margin: 0px;
    /* outline: 2px solid greenyellow; */
    .current {
      color: $acent-logo-color;
      &::after {
        /* outline: 2px solid orchid; */
        display: flex;
        justify-content: space-between;
        content: "";
        padding: 0px;
        margin: 0 auto;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 50px;
        height: 4px;
        background-color: $acent-logo-color;
        border-radius: 2px;
      }
    }
    .current-p {
      color: $acent-logo-color;

      &::after {
        /* outline: 2px solid orchid; */
        display: flex;
        justify-content: space-between;
        content: "";
        padding: 0px;
        margin: 0 auto;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 77px;
        height: 4px;
        background-color: $acent-logo-color;
        border-radius: 2px;
      }
    }
  }
}

.site-cont {
  list-style: none;
  font-style: normal;
  padding: 0px;
  margin: 32px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 332px;
  @media (min-width: $mobileS) and (max-width: 767px) {
    display: none;
    margin: 32px 15px 32px 305px;
  }
  @media (min-width: $tablet) and (max-width: 1199px) {
    width: auto;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: baseline;
    margin: 21px auto;
  }
  @media (min-width: $desktop) {
    margin: 32px 15px 32px 305px;
  }
  .item {
    @media (max-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
  }
  .item a {
    color: $second-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus,
    &:active {
      color: $acent-logo-color;

      .icon-mail,
      .icon-mail {
        fill: $acent-logo-color;
      }

      .icon-tel,
      .icon-tel {
        fill: $acent-logo-color;
      }
    }
  }

  .icon-mail {
    padding: 0px;
    margin: auto;
    margin-right: 10px;
    fill: $second-text-color;
    border-radius: 1px;
  }

  .icon-tel {
    padding: 0px;
    margin: auto;
    margin-right: 8px;
    fill: $second-text-color;
    border-radius: 2px;
  }
}
