$primary-text-color: #212121;
$second-text-color: #757575;
$add-text-color: #ffffff;
$acent-logo-color: #2196f3;
$primary-bg-color: #ffffff;
$hero-footer-bg-color: #2f303a;
$button-bg-color: #2196f3;
$button-acent-bg-color: #188ce8;
$section-team-bg-color: #f5f4fa;

$primary-text-font: Roboto, sans-serif;
$logo-text-font: Raleway, sans-serif;
